ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #ccc;
}

ul li {
    position: relative;
}



li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}


ul li a {
    display: block;
    text-decoration: none;
    background: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;

    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    /*
    color: rgba(0, 0, 0, 1);
    text-shadow: 120px 120px 2px rgba(255, 255, 255, 1);
    */
}


ul li a:hover{
    color: darkmagenta;
    font-size: 30px;
}

li:hover ul {
    display: block;
}





