#headerID {
    color: rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px darkblue , 0 0 70px darkblue , 0 0 80px darkblue , 0 0 100px darkblue ;
}

#headerID:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}
h2,h3 {
    color: #fff;
    text-shadow: 0 -1px 4px white, 0 -2px 10px yellow, 0 -10px 20px #ff8000, 0 -18px 40px red;
}

p{
    text-decoration: underline;
}